/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logos a .twenty{
    width: 12%;
}

body,
html {
    width: 100%;
    height: 100%;
    background-color: rgb(129, 198, 255);
}

html {
    scroll-behavior: smooth;
}

/*
 * this is start of header part of this website
 */
header {
    border-top: 2px solid rgb(0, 238, 255);
    border-bottom: 3px solid rgb(0, 238, 255);
    width: 100%;
    height: 60px;
    background-color: rgb(129, 198, 255);
}

.header-wraper {
    width: 1170px;
    height: 60px;
    background-color: rgb(1, 123, 171);
    margin: 0 auto;
    overflow: hidden;
}

.logo {

    float: left;
    max-width: 13%;
    height: auto;
    background-color: pink;
}

.logo img {
    margin: 0;
    width: 45%;
}

.logo p {
    color: rgb(31, 96, 122);
    float: right;
    font-size: 1em;
    font-family: "Lemon", serif;
    padding: 6%;
}

/*
 * here the logos of 2nd group of three imgaes
 */

.logos {
    float: left;
    width: 35%;
    height: 60px;
}

.logos img {
    filter: drop-shadow(2px 1px 5px skyblue);
    width: 13.5%;
    float: right;
    margin: 1.1% 8%;
}

.logos img:hover {
    transform: scale(1.1);
    transition: all 1s ease-in-out 0s;
}


/*
 * here end
 */



/*
  * here nav bars work start 
  */

.baricon i{
    font-size: 25px;
    margin: 15px 20px;
    float: right;
    font-weight: bold;
    color: white;
    display: none;
}


nav {

    width: 48%;
    height: 60px;
    float: right;
}

nav ul {
    padding: 0;
    margin: 0;
    /* list-style: none; */
    float: right;
    /* list-style: none; */
}

nav ul li {
    list-style: none;
    /* padding: 20.5px 20px; */
    position: relative;
    /* border-left: solid skyblue 1px; */
    float: left;
}

nav ul li a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 20.7px 20px;
    margin: 0px 0px;
    float: left;
    border-left: 1px solid #999;
}

nav ul li a:hover {
    background-color: skyblue;
}

nav ul li ul {
    z-index: 2;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;

}

nav ul li ul li {
    border: none;
    
}

nav ul li:hover>ul {
    display: block;
  

}

nav ul li ul li a {
    border-radius: 5px;
    width: 100px;
    height: 50px;
    border: none;
    background-color: skyblue;
    position: relative;
    top: 0;
    left: -10px;
    margin: 0 0 5px 0 ;
    animation-name: upar;

    
}

nav ul li ul li a:hover {transform: scale(1.1);
    transition: all .5s ease-in-out 0s;
    
    background-color: rgb(2, 122, 169);
}


.active {
    background-color: skyblue;
}


/*
 * here start page banner image work
 */




.repair {  
    border-radius: 10px;
    position: relative;
    z-index: 1;
    margin: 1px auto;
    width: 100%;
    height: 480px;
   

}

/* .repair .button {
    width: 200px;
    height: 45px;
    border-radius: 20px;
    background-color: orangered;
    color: white;
    font-size: 20px;
    border: none;
    position: absolute;
    right: 350px;
    bottom: 60px;
    z-index: 2;

} */
/* 
.repair .button:hover {
    background-color: rgb(167, 71, 36);
} */


.repair img {
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
    
}


.icon {
    z-index: 2;
    position: fixed;
    width: 50px;
    height: auto;
    right: 0;
    top: 100px;
    right: 7.5px;
    padding: 0;
    margin: 0;

}

.icon img {
    float: right;
    width: 60%;
    margin: 0;
    padding: 7% 0;
    border: none;
}

.icon img:hover {
    transform: scale(1.5);
    transition: all 1s ease-in 0s;
}



.section2 {

    margin: 0 auto;
    width: 1170px;
    height: 500px;
}

.section2 h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 20px 0;
    margin: 50px 0 30px 0;
    background-color: #FF446D;
    border-radius: 10px;
}

.section2 p {
    text-align: center;
    line-height: 25px;
    word-spacing: 2px;
}

.button1 {
    margin: 30px 0;
    text-align: center;
}


.section2 button {
    color: white;
    background-color: rgb(153, 87, 214);
    ;
    border: none;
    border-radius: 10px;
    padding: 15px 25px;


}

.section2 button:hover {
    background-color: rgb(197, 138, 253);

}






/*
 * here our services part start
 */

.sir {

    width: 1170px;
    height: 850px;
    margin: 50px auto;

}

.sir h2 {

    text-align: center;
    font-size: 40px;
    color: rgb(96, 12, 175);
    ;
}

.seccent {
    height: 100%;
    width: 90%;
    margin: 0 auto;

}

.sec1 {
    border-radius: 10px;
    width: 300px;
    height: 550px;
    background-color: white;
    float: left;
    margin: 20px 22px;

}

.sec1 img {
    width: 290px;
    height: 180px;
    margin: 5px 0 0 5px;
    border-radius: 10px;
}

.sec1 h3 {
    width: 300px;
    height: 50px;
    padding: 5px;
}

.sec1 p {
    width: 290px;
    height: 140px;
    font-size: 15px;
    text-align: justify;
    line-height: 25px;
    margin-left: 5px;
}

.button2 {
    width: 150px;
    height: 30px;

}

.button2 button {
    color: rgb(231, 231, 231);
    background-color: rgb(109, 9, 202);
    margin: 30px 10px;
    border: none;
    border-radius: 10px;
    padding: 15px 25px;
}

.button2 ul {
    float: left;
    margin: 0 0;
    padding: 0 0;
}

.secul ul li {
    text-align: justify;
    list-style: none;
    font-weight: bold;
    padding: 7px 0 0 22px;
    font-size: 16px;
    background: url(../images/errowpng.png) no-repeat 1px 10px;
}

.button2 button:hover {
    background-color: rgb(153, 87, 214);

}

/* .sec1 img:hover{
    transform: scale(1.1);
transition: all 2s ease-in-out 0s;
}
.sec1:hover{
    transform: scale(1.1);
transition: all 1s ease-in-out 0s;
} */


.sec2 img {

    width: 290px;
    height: 180px;
    margin: 5px 0 0 5px;
    border-radius: 10px;
}

.sec2 {
    border-radius: 10px;
    width: 300px;
    height: 190px;
    background-color: white;
    float: left;
    margin: 10px 22px;
    box-shadow: 1px 1px 8px black;
}
















/*
 * here footer address div start
 */


.footadd {
    width: 100%;
    height: 100px;
    background-color: rgb(128, 128, 255);
}

.add {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}

.add1 {

    float: left;
    width: 300px;
    height: 100px;
    margin: 0 44px;
}

address {
margin: 15px 0;
    width: 75%;
    float: right;
    color: white;
   
}

.add1 .img {
    width: 60px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    float: left;
    margin: 10px 5px;
}

.add1 .img img {
    width: 40px;
    margin: 14px 0 0 9px;

}

.add1 .img1 img {
    width: 30px;
    margin: 5px 0 0 14px;
}

.add1 .img2 img {
    width: 40px;
    margin: 10px 10px;
}







/*
 * here last footer copyright div start
 */



footer {
    width: 100%;
    height: 50px;
    background-color: white;
}

.list {
    width: 1170px;
    height: 50px;
    margin: 0 auto;
}

.list2 {
    float: left;
    width: 400px;
    height: 50px;
    margin: 1px 0 0 250px;
}

.list ul {

    list-style: none;

}

.list ul li {

    float: left;

}

.list ul li a {
    display: inline;
    float: left;
    padding: 15.5px 20px;
    font-weight: bold;
    text-decoration: none;

}

.list ul li:hover {
    background-color: rgb(143, 202, 227);

}

.icon2 {
    float: right;
    width: 250px;
    height: 50px;
    margin: 0 260px 0 0;
}

.icon2 img {
    height: 25px;
    margin: 10px 10px;

}

.icon2 img:hover {
    filter: drop-shadow(2px 2px 2px black);
}

.icon2 img:hover {
    transform: scale(1.1);
    transition: all 1s ease-in-out 0s;
}







/*
 * here our page last copright  start..........
 */
.copyright {
    width: 100%;
    height: 40px;
    background-color: black;
}

.cop {
    width: 1170px;
    height: 40px;
    margin: 0 auto;
}

.cop p {
    color: white;
    font-weight: bold;
    padding: 10px 0;
}







/*
 * here start about us part of website
 */

.about-us-banner {

    width: 100%;
    height: 400px;
    margin: 3px auto;
    background-image: url(../images/renovation-repair-construction-design-website-concept.jpg);
    background-size: cover;
    background-position: 5%;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 2px black;

}

.about-main h1 {
    color: rgb(122, 57, 127);
    text-align: center;
    margin: 50px 0 20px 0;
    font-size: 50px;
    text-decoration: underline 10px;
    background-color: #C9E4C2;
    padding: 10px;
}

.about-main {

    width: 1170px;
    height: 1450px;
    margin: 0 auto;
}

.about-main p {
    padding: 10px;
    word-spacing: 5px;
    line-height: 25px;
    margin: 40px 0 50px 0;
    font-size: 17px;
    background-color: rgb(164, 195, 222);
    border-radius: 20px;
}

.about-main .div-box {
    float: left;
    width: 560px;
    height: 550px;
    margin: 10px;
    border-radius: 20px;
    background-color: rgb(164, 195, 222);
}

.about-main .div-box2 {
    float: left;
    width: 560px;
    height: 500px;
    margin: 10px;
    border-radius: 20px;

}

.div-box2 img {
    margin: 65px 0 0 0;
    width: 560px;
    box-shadow: 2px 2px 5px black;
}

.div-box p,
h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 10px;
    word-spacing: 1px;
    line-height: 25px;
    font-size: 17px;
}

.div-box h2 {
    color: rgb(122, 57, 127);
    font-size: 30px;
    margin: 10px 0 20px 0;
    text-decoration: underline;
}






/*
 * Here form work start of footer
 */


.form {
    width: 1170px;
    height: 270px;
    background-color: rgb(0, 102, 142);
    margin: 50px auto;
    padding: 10px;
}

.form .div-h2 h2 {
    font-weight: bold;
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;

}

.form .form-box {
    width: 1000px;
    height: 90px;
    margin: 0 auto;
}

.form .form-box1 {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
}

.form .form-box input,
select {
    margin: 10px 0 0 60px;
    width: 400px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border: none;
}

.form .form-box1 input {
    margin: 10px 0 0 60px;
    width: 400px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border: none;
}












/*
 * here start service part 
 */

.Service {
    z-index: 1;
    position: relative;
    border: solid white;
    width: 100%;
    min-height: 600px;
    margin: 3px auto;
    background-image: url(../images/male-technician-repairing-computer-circuit-board.jpg);
    background-size: cover;
    background-position: 5%;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 2px black;

}

/*
 * here start our banner form part
 */
.Service h2 {
    background-color: rgba(158, 156, 156, 0.311);
    backdrop-filter: blur(5px);
    color: rgb(48, 38, 110);
    font-size: 30px;
    float: left;
    width: 650px;
    height: 100px;
    text-align: left;
    margin: 50px 0 0 150px;
    letter-spacing: .5px;
    word-spacing: 5px;
    line-height: 35px;
    padding: 10px;

}

.Service p {
    background-color: rgba(158, 156, 156, 0.311);
    backdrop-filter: blur(5px);
    color: rgb(0, 0, 0);
    float: left;
    width: 650px;
    height: 240px;
    text-align: left;
    margin: 30px 0 0 150px;
    letter-spacing: .5px;
    word-spacing: 5px;
    line-height: 30px;
    padding: 10px;

}

.Service ul {
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(158, 156, 156, 0.311);
    backdrop-filter: blur(5px);
    color: rgb(0, 0, 0);
    float: left;
    width: 650px;
    height: 150px;
    text-align: left;
    margin: 10px 0 0 150px;
    word-spacing: 1px;
    line-height: 35px;
    padding: 0px 0px 0 40px;


}


.banner-form {
    position: absolute;
    background-color: rgba(202, 191, 191, 0.311);
    backdrop-filter: blur(5px);
    border: solid white;
    width: 320px;
    height: 520px;
    float: left;
    border-radius: 10px;
    right: 150px;
    top: 50px;
    box-shadow: 2px 2px 20px 2px black;


}

.banner-form h3 {
    font-size: 28px;
    color: rgb(255, 255, 255);
    width: 250px;
    height: 90px;
    margin: 50px 0 0 30px;
}

.banner-form .banner-form-under {
    width: 280px;
    height: 450px;
    margin: 0px 0px 0 22px;
}

.banner-form .banner-form-under input {
    height: 40px;
    width: 250px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    outline: none;
}

.banner-form .banner-form-under select {
    height: 40px;
    width: 250px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    color: rgb(114, 114, 114);
    font-size: 13px;
}

.banner-form .banner-form-under .submit {
    background-color: rgb(14, 91, 191);
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.banner-form .banner-form-under .submit:hover {
    background-color: rgb(9, 165, 255);
}










.service-main {
    background-color: rgb(46, 150, 192);

    border-radius: 15px;
    width: 1170px;
    height: 1250px;
    margin: 70px auto;

}

.service-main p {
    font-family: "Poppins", sans-serif;
    color: white;
    word-spacing: 1px;
    font-size: 16px;
    text-align: center;
}

.service-main h1 {
    font-family: "Poppins", sans-serif;
    padding: 40px 0 0 0;
    color: white;
    margin-bottom: 20px;
    font-size: 35px;
    text-align: center;
}

.service-main .line {
    width: 100%;
    height: 10px;
    margin: 5px auto;

}

.service-main .line hr {
    width: 200px;
    height: 5px;
    background-color: white;
    margin: 20px 0 0 500px;
    border-radius: 5px;
}



.divt {
    margin-top: 50px;
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0);
}

.divt h2 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 25px 10px;
    color: white;
}

.div-box1 {
    float: left;
    width: 300px;
    min-height: 400px;
    height: auto;
    border: solid rgb(251, 251, 251);
    margin: 60px 0 0 65px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.421);
}

.div-box1 .circle {
    border: white solid;
    background-image: url(../images/services-repair-img.svg);
    margin: 10px auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
}




.div-box1 .circle img {
    height: 100%;
    width: 100%;
}

.div-box1 h3 {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 10px;

}

.div-box1 p {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 10px;

}






/*
 * here start our second main
 */

.service-main2 {
    background-color: rgb(46, 150, 192);

    border-radius: 15px;
    width: 1170px;
    height: 1350px;
    margin: 70px auto;

}

.service-main2 p {
    font-family: "Poppins", sans-serif;
    color: white;
    word-spacing: 1px;
    font-size: 16px;
    text-align: center;
}

.service-main2 h1 {

    font-family: "Poppins", sans-serif;
    padding: 40px 0 0 0;
    color: white;
    margin-bottom: 20px;
    font-size: 35px;
    text-align: center;
}

.service-main2 .line {
    width: 100%;
    height: 10px;
    margin: 5px auto;

}

.service-main2 .line hr {
    width: 200px;
    height: 5px;
    background-color: white;
    margin: 20px 0 0 500px;
    border-radius: 5px;
}



.divt {
    margin-top: 50px;
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0);
}

.divt h2 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 25px 10px;
    color: white;
}

.div-box3 {
    float: left;
    width: 300px;
    min-height: 300px;
    height: auto;
    border: solid rgb(255, 255, 255);
    margin: 60px 0 0 65px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.421);
}

.div-box3 .circle {
    float: left;
    border: white solid;
    background-image: url(../images/services-repair-img.svg);
    margin: 10px 10px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
}




.div-box3 .circle img {
    height: 100%;
    width: 100%;
}

.blogheading {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}

.div-box3 .blogheading h3 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 150px;
    height: auto;
    float: right;
    margin: 40px 0;


}

.div-box3 p {
    float: left;
    width: 280px;
    height: 200px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 0 9px;

}






/******************************************************************
 * here start our contact page part 
 *******************************************************************/



.contact-banner {
    width: 100%;
    height: 500px;
    background-color: black;
    background-image: url(../images/dolls-computer-motherboard.jpg);
    background-position-y: -300px;
    background-position-x: ;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 3px 0 80px 0;

}

.contact-main {
    width: 1170px;
    height: 900px;
    margin: 10px auto;

}

.whatget {

    width: 1170px;
    min-height: 200px;
    height: 100%;
    margin: 0 auto;
}

.contact-box {

    width: 100%;
    height: 130px;

}

.contact-box .box1 {
    border-radius: 15px;
    border: solid rgb(202, 200, 200);
    float: left;
    width: 350px;
    height: 100px;
    margin: 10px 0 0 30px;
    background-color: rgba(255, 255, 255, 0.408);
    backdrop-filter: blur(5px);
}

.contact-box .box1 img {
    width: 90px;
    height: 90px;
    float: left;
    margin: 5px 10px 0 5px;


}

.contact-box .box1 p {
    margin: 25px 0px;
    width: 240px;
    height: 50px;
    float: right;
    font-weight: bold;
}

.whatget h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 20px 0 0 0;
    margin: 0 0 50px 0;
}

.whatget .cpform {
    margin: 100px 0 0 0;
    width: 100%;
    height: 450px;
}

.whatget .cpform .cpform1 {
    float: left;
    width: 450px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.292);
    margin: 15px 0 0 33px;
    border-radius: 10px;
    border: solid rgba(255, 255, 255, 0.485);
}

.whatget .cpform .cpform1 h3 {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin: 20px 0 20px 20px;
}

.whatget .cpform .cpform1 p {
    float: left;
    width: 100%;
    margin: 0 0 0 20px;
}

.whatget .cpform .cpform1 h4 {
    float: left;
    width: 100%;
    font-size: 18px;
    margin: 10px;
}







.whatget .cpform .cpform2 {
    float: left;
    width: 600px;
    height: 460px;
    margin: 10px;
    padding: 0 0 0 0px;
    margin: 15px 0 0 50px;


}

.whatget .cpform .cpform2 input {
    float: left;
    height: 50px;
    width: 96.5%;
    margin: 10px 0px 10px 21px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;

}

.whatget .cpform .cpform2 textarea {
    float: left;
    height: 160px;
    width: 96.5%;
    margin: 10px 0px 10px 21px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;

}

.cpicon {
    margin: 10px;
}










/******************************************************************
* Here start our Blog Page Part 
*******************************************************************/



.blogbanner {
    float: left;
    width: 100%;
    height: 400px;
    background-color: rgb(0, 0, 0);
    margin: 0 0;
}

.blogbanner .blogheading h1 {
    color: white;
    margin: 10px auto;
    padding: 30px 0;
    text-align: center;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    
}




.blogbanner p {
    color: white;
    padding: 0px 0 0px 0;
    width: 55%;
    margin: 0 auto;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}


.blogbanner .bbpara {
    width: 100%;
    margin: 0 auto;
    height: 13%;

}

.blogbanner .bbpara a {
    display: inline-block;
    color: white;
    padding: 11px 11px;
    margin: 20px 0 0 525px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    border: solid white;
}



.blogbanner .bbpara a:hover {
    background-color: white;
    color: rgb(255, 0, 0);
    font-weight: bold;
    border: solid rgb(255, 0, 0);
}







.toptag {
    margin: 2px 0 0 0;
    height: 50px;
    width: 100%;
    background-color: white;
}

.taglist {
    background-color: rgb(0, 65, 109);
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}

.toptag .taglist a {
    width: 150px;
    height: 100%;
    text-align: center;
    float: left;
    color: white;
    border-left: solid 2px;
    text-decoration: none;
    padding: 15px 15px 0 15px;
    font-size: 15px;

}

.toptag .taglist a:hover {
    background-color: skyblue;
}

.blog-main {
    width: 1170px;
    min-height: 2000px;
    height: auto;
    margin: 0 auto;

}

.blog-main .left-side {
    width: 400px;
    min-height: 800px;
    height: auto;
    float: left;
}

.blog-main .left-side .mustread {
    width: 100%;
    min-height: 500px;
    height: auto;
    float: left;
}

.blog-main .left-side .mustread h3 {
    text-align: left;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 10px;
    /* border: white solid;
   padding: 10px;
   border-radius: 10px; */

}

.blog-main .left-side .mustread .mrbox1 {
    width: 100%;
    height: 110px;
    background-color: rgba(255, 255, 255, 0.36);
    margin: 7px 0 0 0px;
    border-radius: 10px;
    border: #ffffffb4 solid;
}

.blog-main .left-side .mustread .mrbox1 img {
    width: 80px;
    height: 80px;
    background-color: black;
    float: left;
    margin: 17px 10px 0 5px;

}

.blog-main .left-side .mustread .mrbox1 a {
    margin: 10px 0 0 0;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 13px;
    float: left;

}

.blog-main .left-side .mustread .mrbox1 a:hover {
    color: rgb(135, 207, 235);
    background-color: black;
}


.blog-main .left-side .mustread .mrbox1 h4 {
    margin: 10px 0 0 0;

}

.blog-main .left-side .mustread .mrbox1 p {
    margin: 5px 0 0 0;

}
.left-side .ytvideo iframe{
    margin: 30px 0;
}













.blog-main .right-side {
    width: 750px;
    min-height: 1400px;
    height: auto;
   
    float: right;
}
.blog-main .right-side .right-side-first{
    width: 700px ;
    height: 730px ;
float: right;
margin: 30px 0 0 0;
background-color: rgba(255, 255, 255, 0.36);
padding: 15px 22px;
}
.blog-main .right-side .right-side-first h2{
    float: left;
 font-size: 30px;
 line-height: 35px;
 text-align: left;


}
.blog-main .right-side .right-side-first .poet p{
float: left;
text-align: left;
margin: 7px 5px;
font-weight: bold;


}
.blog-main .right-side .right-side-first i{
float: left;
text-align: left;
font-size: 30px;

}

.article-banner img{
    width: 650px;
   margin: 10px 0;
}
.right-side-first a{
    margin: 10px 0 0 0;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    float: left;
}
.right-side-first a:hover {
    color: rgb(135, 207, 235);
    background-color: black;
}